<div class="wrapper">

  <app-navbar></app-navbar>

  <div class="content">

    <div class="left-container">
      <app-left-container></app-left-container>
    </div>
<!--    <app-left-container></app-left-container>-->

    <div class="right-container">
      <div  class="box">
        @if(groups?.length == 0){
          <h1>Bạn chưa tham gia nhóm nào !</h1>
        }
        @for (group of groups; track group.id ){
          <div class="square" style="border: darkgray; border-style: solid; border-radius: 8px" >
            <div style="background-color:seagreen; padding: 8px;text-align: center" (click)="OnClick(group.id)">
              <p style="margin: unset; color: #ffffff">{{group.id}}</p>
            </div>
            <div style="text-align: center; padding: 10px">
              <img style="height: 50px;width: 50px;border-radius: 25px;" src="{{group.leader.urlavt}}">
              <p>Tên nhóm: {{group.name}}</p>
              <p>Mã nhóm: {{group.codeGroup}}</p>
              @if(sessionStorage.getItem('mwork_id') == group.leader.id){
                <button (click)="Delete(group.id)">Delete</button>
              }
            </div>
          </div>
          <br>
        }
      </div>
    </div>

  </div>

  <app-footer></app-footer>
</div>
