/*.flex-container {*/
/*  display: flex; !* Thiết lập container sử dụng flexbox *!*/
/*  height: max(90vh);*/
/*}*/

/*.left-container {*/
/*  width: 200px; !* Độ rộng của left-container *!*/
/*  !*background-color: lightblue;*!*/
/*  padding: 10px;*/
/*  border-right: 3px solid #a19d9d;*/
/*}*/

/*.right-content {*/
/*  flex: 1; !* Phần bên phải sẽ mở rộng để lấp đầy không gian còn lại *!*/
/*  padding: 10px;*/
/*  !*background-color: lightgray;*!*/
/*}*/

.wrapper {
  display: flex; /* Sử dụng Flexbox */
  min-height: 100vh;
  flex-direction: column; /* Sắp xếp các thành phần theo chiều dọc */
}

.content {
  flex: 1; /* Content sẽ mở rộng để điền vào không gian còn lại */
  display: flex;
}

.left-container {
  border-right: 2px solid #b9baba;
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
}

.left-container h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.right-container {
  flex: 6;
  background-color: #ffffff;
  padding: 20px;

}

.box {
  display: flex;
}

.square {
  margin: 30px;
  border: 1px solid #ccc;
}
