<!--<p>login works!</p>-->
<!--<form [formGroup]="loginForm" (ngSubmit)='login()'>-->
<!--  <label>Username</label>-->
<!--  <input name="username" formControlName="username">-->
<!--  <label>Password</label>-->
<!--  <input type="password" name="password" formControlName="password">-->
<!--  <button>Login</button>-->
<!--</form>-->

<form [formGroup]="loginForm" (submit)="login()" autocomplete="new-password">
  <h1 style="text-align: center">Login</h1>

  <div class="form-control">
    <label>Username</label>
    <input name="username" formControlName="username">
  </div>

  <div class="form-control">
    <label for="password">Password</label>
    <input
      formControlName="password"
      id="password"
      autocomplete="new-password"
      type="password"
    />
  </div>
  <button type="submit">Login </button>
</form>
