.navbar-left-container {
  display: flex;
}

.navbar {
  flex: 0 0 20%; /* Navbar chiếm 20% chiều rộng */
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.navbar h1 {
  margin: 0;
  font-size: 1.8em;
}

.left-container {
  flex: 1; /* Left container chiếm phần còn lại */
  background-color: #f0f0f0;
  padding: 20px;
}

.left-container h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* For mobile devices */
@media screen and (max-width: 600px) {
  .dropdown:hover .dropdown-content {
    display: none;
  }

  .dropdown-content {
    position: static;
  }
}
