@if (check){
  <header class="navbar">
    <div class="container" style="display: flex">
      <span style="width: 160px;margin-left: 80px; padding: 12px 16px; flex: 1" >Home</span>
      <div style="text-align: end">
        <div class="dropdown">
          <button  style="width: 160px; padding: 12px 16px">+</button>
          <div class="dropdown-content">
            <a (click)="JoinGroup()">Join Group</a>
            <a (click)="CreateGroup()">Create Group</a>
          </div>
        </div>
        <button style="width: 160px; padding: 12px 16px;margin-right: 20px" (click)="Logout()">Logout</button>
      </div>
    </div>
  </header>
} @else {
  <header class="navbar">
    <div class="container">
      <p style="text-align: center">Navbar </p>
    </div>
  </header>
}

